{% extends 'base.html.twig' %}

{% block title %}Edytuj profil{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h2>Dane podstawowe</h2>
            <hr>
            <br>
            {{ form(form) }}
            <br>
            <h2>Zmiana hasła</h2>
            <hr>
            {{ form(form2) }}
            <h2>Szkolenia na które się zapisałeś</h2>
            <hr>
            <br>
            {% if trainings %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Dostępność</th>
                    <th scope="col">Szczegóły</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for training in trainings %}
                    <tr>
                        <td>{{ training.name }}</td>
                        {% if training.free == 1 %}
                            <td></td>
                            <td>Darmowe</td>
                        {% else %}
                            <td>{{ training.price }} PLN</td>
                            <td>Płatne</td>
                        {% endif %}
                        <td><a href="/szkolenia/{{ training.id }}" class="btn btn-info">Szczegóły</a></td>
                        <td><a href="/removeTraining/{{ training.id }}" class="btn btn-danger">Wypisz się</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                {% else %}
                    <p class="text-danger">Brak dostępnych szkoleń</p>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
