
{% extends 'base.html.twig' %}

{% block title %}CRUD : ROOT {{ Roots.id }}{% endblock %}
{% block body  %}
    {% include asset('inc/navbarSA.html.twig') %}
    <div class="container">
        <div class="row mt-2 ">
            <div class="col-sm-6 bg-light m-auto text-center">
                <h4>Szczegóły konta: <name_color class ="text-danger">{{ Roots.username }}</name_color></h4>
            </div>
        </div>
        <div class="col-sm-6  ml-auto mr-auto mt-2 p-1 text-center bg-light ">
            <label class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Id.</span>
                </div>
                <label  class="form-control">
                    {{ Roots.id }}
                </label>
            </label>
            <label class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                </div>
                <label  class="form-control">
                    {{ Roots.username }}
                </label>
            </label>
            <a href="{{ asset('SuperAdmin/crudSA/SACRUD') }}" class="btn btn-info">Powrót</a>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}