{% extends 'base.html.twig' %}

{% block title %}SZS{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-info" href="{{ asset('/') }}">
            Training management system
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ asset('/') }}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text">
                <a href="{{ asset('loginSA') }}" class="btn btn-outline-danger" role="button">Root Login </a>
                <a href="{{ asset('loginT') }}" class="btn btn-outline-info" role="button">Trainer Login </a>
                <a href="{{ asset('loginMember') }}" class="btn btn-outline-info" role="button">Member Login </a>
            </span>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-2 text-center">
        ###################Jakiś Content ########################

        </div>
    </div>
</div>
    <footer class="fixed-bottom page-footer font-small teal pt-1 bg-light ">
        <div class="col-sm-12 text-center">
            <p>Projekt zespołowy <a href="http://wmii.uwm.edu.pl//">WMiI 2020</a></p>
        </div>
        <div class="footer-copyright text-center py-1">
            © 2020 Copyright: <a href="https://www.nettom.com/">Nettom</a> & FuriousRat
        </div>
    </footer>
{% endblock %}
