{% extends 'base.html.twig' %}

{% block title %}SZS{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-info" href="{{ asset('/') }}">
            Training management system
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ asset('/') }}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text">
                <a href="{{ asset('loginSA') }}" class="btn btn-outline-danger" role="button">Root Login </a>
                <a href="{{ asset('loginT') }}" class="btn btn-outline-info" role="button">Trainer Login </a>
                <a href="{{ asset('loginMember') }}" class="btn btn-outline-info" role="button">Member Login </a>
            </span>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-2 text-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu mollis dolor, sodales egestas ex. Nulla eget odio dui. Mauris eget nunc eu dolor dapibus ornare a id leo. Vestibulum a venenatis magna, at iaculis elit. Sed ac ante vitae tortor posuere consequat. Praesent nec turpis ac est hendrerit luctus id ut ipsum. Aliquam vel consequat sapien. Donec at erat id turpis vehicula luctus. Sed et ex ex. Mauris viverra est nulla, id lobortis felis tincidunt sit amet.

                Cras quis volutpat ligula, non ultricies nisi. Fusce pulvinar auctor sem eu suscipit. Maecenas vehicula, nisl a mattis tempus, elit orci accumsan ligula, ut tristique odio tortor at sapien. Vivamus sed pretium felis. Aenean et dignissim justo. In hac habitasse platea dictumst. Cras ultrices, nisi eget ultrices lacinia, nulla lorem elementum justo, non aliquet quam quam ac elit. Fusce tempus imperdiet lorem, venenatis congue lorem eleifend sit amet. Suspendisse ornare felis vel imperdiet pretium. Sed sollicitudin, arcu ultricies commodo viverra, eros eros dapibus tellus, at feugiat eros ex vitae turpis. Nullam in eleifend leo, ac tincidunt ante. Cras sagittis consectetur nulla, vel sollicitudin nunc dictum ut. Curabitur sed ante sollicitudin, pulvinar odio eu, maximus mauris. Nam ac mollis leo, ac imperdiet felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer id est ut mi sollicitudin sollicitudin.

                Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sagittis enim sit amet velit tristique, ac venenatis neque semper. Vivamus vel egestas nisl. Vestibulum sollicitudin augue a molestie efficitur. Integer sagittis sem vel maximus pretium. Donec fringilla fringilla elementum. Fusce ligula elit, efficitur et commodo eget, venenatis non mi.
            </p>
        </div>
    </div>
</div>
    <footer class="fixed-bottom page-footer font-small teal pt-1 bg-light ">
        <div class="col-sm-12 text-center">
            <p>Projekt zespołowy <a href="http://wmii.uwm.edu.pl//">WMiI 2020</a></p>
        </div>
        <div class="footer-copyright text-center py-1">
            © 2020 Copyright: <a href="https://www.nettom.com/">Nettom</a> & FuriousRat
        </div>
    </footer>
{% endblock %}
