{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="bg-light mb-2">TEST</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Training ID.</td>
                        <td>Member ID.</td>
                        <td>Member name</td>
                        <td>Training ID</td>
                        <td>Training name</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for get in GetMembercourse %}
                            <tr>
                                <td>{{ get.id }}</td>
                                <td>{{ get.member.id }}</td>
                                <td>{{ get.member.name }}</td>
                                <td>{{ get.training.id }}</td>
                                <td>{{ get.training.name }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
