{% extends 'base.html.twig' %}

{% block title %}My Courses{% endblock %}

{% block body %}
{{ include('inc/navbarT.html.twig')}}

{% if Smembers %}
<h1>Members of course</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for member in Smembers %}
               {# {% if member.id == course.id %} #}
                    <tr>
                        <td>{{ member.name }}</td>
        
                        <td>{{ member.surname }}</td>
    
                        <td>{{ member.number}}</td>

                        <td>{{ member.email }}</td>
                    </tr>
                   {# {% endif %} #}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>There are no members :(</h1>
{% endif %}
{% endblock %}