{% extends 'base.html.twig' %}

{% block title %}My Courses{% endblock %}

{% block body %}
{{ include('inc/navbarT.html.twig')}}
<div class="text-center">
    <h1>Members of <x class=""> {{ training.name }} </x> </h1>
    </div> <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
        {% for get in GetMembercourse %}
            <tr>
                <td>{{ get.member.name }}</td>
                <td>{{ get.member.surname }}</td>
                <td>{{ get.member.email }}</td>
                <td>{{ get.member.number }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}