{% extends 'base.html.twig' %}

{% block title %}SuperAdminController!{% endblock %}
{% block body  %}
{% include asset('inc/navbarSA.html.twig') %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 bg-light text-center m-auto p-1 ">
            <p class="text-danger font-weight-bold h5"> Root panel </p>
            <p class="text-info">Jesteś zalogowany jako : <i class="text-danger font-weight-bold">{{ RootName }}</i>. Masz możliwość zarządzania całym systemem
            </p>
            <pre class=" text-info font-small float-right">{{ version }}</pre>
        </div>
        <div class="col-md-12 bg-light mt-2">
            <h4 class="text-center font-weight-bold text-info">Management</h4>
        </div>
        <!--ROOT SECTION -->
            <div class="col-md-4 mt-1 bg-light">
                    <table id="Roots" class="table table-striped">
                        <thead>
                        <p class="text-center">Root's</p>
                            <tr>
                                <th>Id.</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for root in GetRootPreview %}
                            <tr>
                                <td>{{ root.id }}</td>
                                <td>{{ root.username }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <p class="text-info">
                    Number of records in the database: <bold class="font-weight-bold"> {{ TotalRots }}</bold></p>
                <h5 class=" text-center">
                    <a href="{{ asset('SuperAdmin/crudSA/SACRUD') }} " class="text-warning btn btn-outline-warning">Management</a>
                </h5>
                </div>
 <!--TRAINER SECTION -->
        <div class="col-md-4 mt-1 bg-light">
            <table id="Trainer" class="table table-striped">
                <thead>
                <p class="text-center">Trainer's</p>
                <tr>
                    <th>Id.</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                {% for trainer in GetTrainerPreview %}
                    <tr>
                        <td>{{ trainer.id }}</td>
                        <td>{{ trainer.username }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p class="text-info">
                Number of records in the database: <bold class="font-weight-bold"> {{ TotalTrainers }}</bold></p>
            <h5 class=" text-center">
                <a href="{{ asset('SuperAdmin/crudSA/TrainerCRUD') }}" class="text-warning btn btn-outline-warning">Management</a>
            </h5>
        </div>
        <!-- TRAINING MANAGER SECTION-->
        <div class="col-md-4 mt-1 bg-light">
            <table id="Trainer" class="table table-striped">
                <thead>
                <p class="text-center">Training Manager's</p>
                <tr>
                    <th>Id.</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
{#                {% for #### in #### %}#}
{#                    <tr>#}
{#                        <td></td>#}
{#                        <td></td>#}
{#                    </tr>#}
{#                {% endfor %}#}
                </tbody>
            </table>
            <h4 class="text-danger size-16px text-center">Sekcja  Alberta</h4>
            <p class="text-info">
                Number of records in the database: <bold class="font-weight-bold"> #####</bold></p>
            <h5 class=" text-center">
                <a href="{{ asset('/SuperAdmin') }}" class="text-warning btn btn-outline-warning">Management</a>
            </h5>
        </div>

        <!--TRAINING SECTION -->
        <div class="col-md-12 bg-light  mt-2">
            <table id="Trainings" class="table table-striped">
                <thead>
                <p class="text-center">Training's</p>
                <tr>
                    <th>Id.</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for training in GetTrainingPreview %}
                    <tr>
                        <td>{{ training.id }}</td>
                        <td>{{ training.name }}</td>
                        <td>{{ training.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p class="text-info">
                Number of records in the database: <bold class="font-weight-bold"> {{ TotalTrainings }}</bold></p>
            <h5 class=" text-center">
                <a href="{{ asset('SuperAdmin/crudSA/TrainingCRUD') }}" class="text-warning btn btn-outline-warning">Management</a>
            </h5>
        </div>

        <!-- MMEMBERS SECTION-->
        <div class="col-md-12 mt-1 bg-light">
            <table id="Trainer" class="table table-striped">
                <thead>
                <p class="text-center">Member's</p>
                <tr>
                    <th>Id.</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody>
                {% for member in GetMembersPreview %}
                    <tr>
                        <td>{{ member.id }}</td>
                        <td>{{ member.name }}</td>
                        <td>{{ member.surname }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.number }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p class="text-info">
                Number of records in the database: <bold class="font-weight-bold"> {{ TotalMembers }}</bold></p>
            <h5 class="text-center">
                <a href="{{ asset('SuperAdmin/crudSA/MemberCRUD') }}" class="text-warning btn btn-outline-warning">Management</a>
            </h5>
        </div>

    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
   <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}