{% extends 'base.html.twig' %}

{% block title %}Szkolenia{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-md-12 text-center">
            {{ render(controller(
                'App\\Controller\\SearchController::searchBar'
            ))}}
        </div>
    </div>
    <br>
    {% if trainings %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
            <th scope="col">Dostępność</th>
            <th scope="col">Ocena</th>
            <th scope="col">Szczegóły</th>
            <th scope="col">Oceń szkolenie</th>
        </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.name }}</td>
                {% if training.free == 1 %}
                    <td></td>
                    <td>Darmowe</td>
                {% else %}
                    <td>{{ training.price }} PLN</td>
                    <td>Płatne</td>
                {% endif %}
                {% if training.rating %}
                    <td>{{ training.rating}}/5</td>
                {% else %}
                    <td>brak ocen</td>
                {% endif %}
                <td><a href="/szkolenia/{{ training.id }}" class="btn btn-info">Szczegóły</a></td>
                <td><a href="/szkolenia/ocen/{{ training.id }}" class="btn btn-warning">Oceń</a></td>
            </tr>
        {% endfor %}
        </tbody>
        {% else %}
            <p class="text-danger">Brak dostępnych szkoleń</p>
        {% endif %}
    </table>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}